@charset "utf-8";

* { overflow: hidden; }

body { background-color: black; }

#enterSite {

	position: absolute;
	bottom: 30px;
	left: 50%;
	font-size: 24px;
	margin-left: -70px;
	opacity: 0.5;

} #enterSite:hover {opacity: 1;}



